//==========
//IMPORTS
//==========
@import "./materialize.scss";
@import "./video-js.scss";
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Lobster");

//===============
//FONT VARIABLES
//===============

$main-text: 'Open Sans', sans-serif;
$lobster: 'Lobster', cursive;

//================
//COLOR PALLETE
//================
$yellow: #F5CB5C;
$darkBlack: #242423;
$gray: #333533;
$platinum: #E8EDDF;
$lightGray: #fbfbfb;



* {
	font-family: Helvetica, Arial, sans-serif;
	box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  width: 100vw;
}

.container{
  position: absolute;
  width: 100vw;
  height: 100vh;
}
.material-icons{
  color: $darkBlack;
}


//=============
//Components
//=============
canvas{
  position: fixed;
  top:0;
  left:0;
  min-height: 100px;
  width: 100%;
  z-index: -100;
}


nav{
  ul li a{
    color: $gray;
    font-family: $main-text;
    font-weight: bold;
    font-size: 18px;
    
    &:hover{
      color: $yellow;
      transition: all .25s ease;
      background-color:white;
      font-weight: bold;
      font-size: 18px;
      }
  }
   .brand-logo{
     color: $darkBlack;
     font-family: $lobster;
     font-weight: bold;
     font-size: 32px;

      &:hover{
        color: $yellow;
        transition: all .25s ease;
     }
   }

   .btn{
    background: $yellow;
    border-radius: 0px;
    box-shadow: none;
      &:hover{
        animation:none;
        box-shadow: none;
        background: $yellow;
        color: white;
        transform: none;
      }
   }
}


//=============
//VIEWS
//=============
.HomePage{

  .MainText{
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%,-50%);
    z-index: 100;
    h1{
      font-family: $main-text;
      color: $gray;
      font-weight: 900;
      font-size: 10vh
    }
    a{
      text-transform: none;
      box-shadow: none;
      background: $yellow;

      :hover{
        background: lighten($yellow, 50%);
      }
    }

  }

  .HomePageFoot{
    position: fixed;
    bottom:0;
    left: 0;
    background-color: $lightGray;
    z-index: 10;
    height: 25%;
    width: 100vw;
    padding: 2.5% 10% 5% 10%;

    p{
      font-family: $main-text;
      font-weight: bold;
      text-align: center;

      .peopleNum{
        color: $yellow;
      }
      .berkeleyLink{
        color: $yellow;
        text-decoration: underline;
      }
    }
  }
}


.LoginPage{
  .yellowText{
    color: $yellow;
  }

  .login-container{
    background-color:$lightGray;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 80px;
    width: 50%;
    height: 75%;
  }

  .tabs .indicator{
    height: 60px;
    opacity: 0.3;
    a{
      color: $gray;
    }
    :hover{
      cursor: pointer;
    }
  }

  .form-container{
    padding: 40px;
    padding-top: 10px;
    .input-field{
      color: orange;
    }
    h3{
      color: $yellow;
      cursor: pointer;
    }
  }

  .confirmation-tabs-btn{
    background-color: $gray;
    position: absolute;
  }
}

.CategoriesPage{
  h3{
    font-family: $main-text;
    font-size: 18px;
    text-align: center;
    padding: 5% 15% 5% 15%;
  }

}

.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;


  > div {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;
    
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }

  .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }

  .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }

  .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }

  .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
}


@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}


/////

